@layer components {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  aside {
    border-right: 1px solid var(--border-color);
    flex: 0 1 272px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  a svg {
    margin-right: var(--space-100);
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-100);
    width: 100%;
  }
}
