@layer components {
  header {
    background-color: var(--colors-neutral-800);
  }

  main {
    background-color: var(--color-neutral-800);
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  a svg {
    margin-right: var(--space-100);
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-100);
    width: 100%;
  }
}
