@layer components {
  .left-menu {
    padding: var(--space-150) var(--space-200);
    border-right: 1px solid var(--colors-neutral-400);
    flex-shrink: 0;
  }

  .left-menu .logo-wrapper {
    padding: var(--space-150);
  }
  .left-menu .logo {
    width: 95px;
    height: 28px;
  }

  .left-menu nav,
  .left-menu .tags-wrapper {
    padding: var(--space-100) var(--space-200);
  }

  .left-menu .left-menu-content nav {
    border-bottom: 1px solid var(--colors-neutral-200);
  }
  ul li {
    margin-top: var(--space-050);
  }

  .left-menu a {
    padding: var(--space-150);
    display: inline-block;
    width: 100%;
  }

  .inner-sidebar {
    padding: var(--space-150) var(--space-200);
    border-right: 1px solid var(--colors-neutral-200);
    flex-shrink: 0;
    border-right: 1px solid var(--colors-neutral-400);
  }

  .inner-sidebar .create-note-button {
    width: 100%;
    padding: var(--space-150);
    border-radius: var(--radius-8);
    background-color: var(--colors-blue-500);
    color: white;
  }

  .inner-sidebar ul {
    margin-left: var(--space-200);
  }

  .inner-sidebar ul li {
    border-bottom: 1px solid var(--colors-neutral-400);
  }

  .inner-sidebar .note-item {
    padding: var(--space-100);
  }

  .item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--space-150);
    font-size: var(--font-size-100);
    color: var(--colors-neutral-600);
  }

  .item-tags {
    padding: var(--space-150);
  }

  .item-tag {
    background-color: var(--colors-neutral-700);
    padding: var(--space-025) var(--space-075);
    margin: var(--space-050);
    border-radius: var(--radius-4);
    color: white;
  }
}
