@layer components {
  .left-menu {
    padding: var(--space-150) var(--space-200);
  }

  .left-menu .tags-wrapper h4 {
    color: var(--colors-neutral-500);
    margin: var(--space-100);
  }

  .left-menu .logo-wrapper {
    margin: var(--space-200);
  }

  .logo-wrapper .logo-wrapper-link {
    padding: 0;
    margin: 0;
  }

  .left-menu .left-menu-content nav:first-of-type {
    border-bottom: 1px solid var(--border-color);
  }
  ul li {
    margin: var(--space-050) 0;
  }

  .left-menu ul li a {
    border-radius: var(--radius-8);
  }

  .left-menu ul li:hover a::after {
    content: ">";
    float: right;
    margin-top: var(--space-050);
  }

  /* .left-menu ul li:active a::after {
    content: ">";
    float: right;
    margin-top: var(--space-050);
  } */

  .left-menu ul li svg {
    font-size: 1.2rem;
    vertical-align: middle;
  }

  .left-menu ul li a:hover {
    background-color: var(--hover-bg);
  }

  .left-menu ul li a:hover svg {
    color: var(--colors-blue-500);
  }

  .left-menu a {
    padding: var(--space-150);
    display: inline-block;
    width: 100%;
  }

  /* ___________ INNER SIDEBAR ____________ */

  .notes-list-wrapper {
    height: 84vh;
    flex: 0 1 290px;
  }

  .inner-sidebar {
    padding: var(--space-200);
    border-right: 1px solid var(--border-color);
    flex-shrink: 0;
    height: 98%;
    overflow-y: auto;
  }

  .inner-sidebar button,
  .mobile-add-note-button button {
    width: 100%;
    padding: var(--space-150);
    border: none;
    border-radius: var(--radius-8) !important;
    background-color: var(--colors-blue-500);
    color: white;
    justify-content: center;
    gap: 0 !important;
    font-family: var(--ff-sans) !important;
    margin-bottom: var(--space-200) !important;
  }

  .inner-sidebar button svg,
  .mobile-add-note-button button svg {
    /* HARDCODED BECAUSE FIXED */
    color: white;
    font-size: 1.5rem;
    vertical-align: middle;
  }

  .inner-sidebar ul {
    margin-left: var(--space-100);
  }

  .inner-sidebar ul hr {
    border: none;
    width: auto;
    height: 1px;
    background-color: var(--border-color);
  }

  .inner-sidebar ul li {
    /* border-bottom: 1px solid var(--border-color); */
    padding: var(--space-100);
    border-radius: var(--radius-6);
    height: 8.75rem;
  }

  .inner-sidebar ul li:hover {
    background-color: var(--hover-bg);
    border-radius: var(--radius-6);
  }

  .inner-sidebar .item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--space-150);
    font-size: var(--font-size-100);
    color: var(--primary-foreground);
    padding-left: var(--space-100);
  }

  /*___________ SETTINGS LIST _________________*/

  .inner-sidebar .settings-menu {
    margin-left: var(--space-200);
  }

  .inner-sidebar .settings-menu li {
    border: none;
    padding: 0;
    margin: var(--space-100) 0;
    border-radius: var(--radius-8);
    cursor: pointer;
    height: fit-content;
  }

  .inner-sidebar .settings-menu hr {
    margin-top: var(--space-100);
    background-color: var(--border-color);
    height: 1px;
    width: auto;
    border: 0;
  }

  li .active::after {
    content: ">";
    float: right;
  }

  li .active svg {
    color: var(--colors-blue-500);
  }

  .inner-sidebar .settings-menu li a {
    padding: var(--space-100);
    border-radius: var(--radius-8);
    display: block;
  }

  .inner-sidebar .settings-menu li:hover {
    background-color: var(--hover-bg);
  }

  .inner-sidebar .settings-menu li:hover a::after {
    content: ">";
    float: right;
  }

  .inner-sidebar .settings-menu li a svg {
    font-size: 1.25rem;
    vertical-align: middle;
  }

  .inner-sidebar .settings-menu li:hover a svg {
    color: var(--colors-blue-500);
  }

  .inner-sidebar .settings-menu li a svg {
    margin-right: var(--space-100);
  }

  .item-tags {
    padding: var(--space-150);
    padding-left: 0;
  }

  .item-tag {
    /* HARDCODED BECAUSE FIXED */
    background-color: var(--colors-neutral-700);
    padding: var(--space-025) var(--space-075);
    margin: var(--space-050);
    border-radius: var(--radius-4);
    color: white;
  }

  main .main-wrapper .tags-wrapper ul .tag-item {
    border-bottom: 1px solid var(--border-color);
    padding: var(--space-150) 0;
  }

  main .main-wrapper .tags-wrapper ul .tag-item svg {
    font-size: 1.2rem;
  }

  @media (max-width: 768px) {
    .inner-sidebar {
      border: none;
      padding: var(--space-200) 0;
      height: auto;
      overflow: hidden;
    }
    li .active::after {
      content: "";
    }
  }
}
