@layer components {
  .left-menu {
    padding: var(--space-150) var(--space-200);
    border-right: 1px solid var(--colors-neutral-400);
    flex-shrink: 0;
  }

  .left-menu .logo {
    width: 100%;
    padding: var(--space-150);
  }

  .left-menu nav,
  .left-menu .tags-wrapper {
    padding: var(--space-100) var(--space-200);
  }

  .left-menu .left-menu-content nav {
    border-bottom: 1px solid var(--colors-neutral-200);
  }
  .left-menu ul li {
    margin-top: var(--space-050);
  }

  .left-menu a {
    padding: var(--space-150);
    display: inline-block;
    width: 100%;
  }

  .inner-sidebar {
    padding: var(--space-150) var(--space-200);
    border-right: 1px solid var(--colors-neutral-200);
    flex-shrink: 0;
    border-right: 1px solid var(--colors-neutral-400);
  }
}
