@layer components {
  .skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #000;
    color: #fff;
    padding: 8px 16px;
    z-index: 100; /* keep it above other elements */
    text-decoration: none;
    border-radius: 4px;

    /* Hide visually but keep available for screen readers & keyboard */
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    white-space: nowrap;
  }

  .skip-link:focus {
    top: 0; /* move into view */
    clip: auto; /* unclip */
    height: auto;
    width: auto;
    overflow: visible;
    white-space: normal;
  }

  main {
    display: flex;
    flex-direction: column;
    width: 88%;
  }

  .main-content-wrapper {
    display: flex;
    flex-direction: row;
    flex: 1;
  }

  .search-bar-desc {
    margin: var(--space-200) 0;
  }

  .note-details {
    padding: var(--space-250) var(--space-300);
    flex: 1;
  }

  .note-content {
    min-height: 100%;
    border-bottom: 1px solid var(--border-color);
    flex: 0 1 588px;
  }

  .quick-info {
    display: flex;
    flex-direction: column;
    gap: var(--space-100);
    padding: var(--space-250) var(--space-300);
    padding-left: 0;
    border-bottom: 1px solid var(--border-color);
  }

  .info-line {
    max-width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .quick-info svg {
    margin-right: var(--space-075);
  }

  .note-body ul li::before {
    content: "-";
    margin-right: var(--space-025);
  }

  .note-body ol {
    padding-left: var(--space-200);
    margin-top: var(--space-200);
  }

  .note-body p {
    margin: var(--space-200) auto;
  }

  .return-link {
    color: var(--primary-foreground);
    text-decoration: underline 5px solid var(--colors-blue-500);
    text-underline-offset: 5px;
  }

  .return-link:hover {
    color: var(--colors-blue-500);
    text-decoration-color: var(--primary-foreground);
  }

  @media (max-width: 768px) {
    .mobile-add-note-button {
      position: relative;
    }
    .mobile-add-note-button button {
      position: fixed;
      width: 48px;
      height: 48px;
      bottom: 5rem;
      right: var(--space-400);
      border-radius: 50%;
      display: block !important;
      padding: initial !important;
      font-size: 2rem;
      border-radius: 50% !important;
    }
  }

  @media (max-width: 768px) {
    main {
      width: auto;
    }
    .main-wrapper {
      border-top-left-radius: var(--radius-20);
      border-top-right-radius: var(--radius-20);
      padding: var(--space-250) var(--space-200);
    }
    .main-wrapper .search-area {
      margin: var(--space-200) auto;
    }
    .main-wrapper .search-area .search input {
      width: 100%;
    }
  }
  @media (max-width: 425px) {
    .main-wrapper {
      padding: var(--space-200);
      position: relative;
      min-height: 100%;
    }

    .note-details {
      padding: 0;
    }
  }
}
