@layer components {
  .mobile-nav {
    width: 100%;
    max-height: fit-content;
    padding: var(--space-100) 0;
    border-top: 1px solid var(--border-color);
    box-shadow: 0 -4px 6px 0 #f0f0f060;
    background-color: var(--primary-bg);
  }

  .mobile-nav ul {
    justify-content: space-around;
  }

  .mobile-nav ul li a {
    display: flex;
    flex-direction: column;
    gap: 0 !important;
    justify-content: center !important;
    text-decoration: none;
  }

  .mobile-nav ul li a svg {
    font-size: 1.5rem;
    margin: 0;
  }

  .mobile-nav-line {
    border: 0;
    height: auto;
    width: 1px;
    background-color: var(--border-color);
  }

  nav.mobile-nav ul li a {
    width: 5.8125rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav.mobile-nav .active,
  nav.mobile-nav ul li a:hover {
    background-color: var(--hover-bg) !important;
    border-radius: var(--radius-4) !important;
  }
  nav.mobile-nav .active svg,
  nav.mobile-nav ul li:hover svg {
    color: var(--colors-blue-500);
  }

  @media (max-width: 768px) {
    footer {
      flex-direction: column;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 100;
    }

    .mobile-nav ul {
      display: flex;
    }
  }

  nav.mobile-nav {
    overflow-anchor: none;
  }
  @media (max-width: 425px) {
    nav.mobile-nav ul li a {
      width: auto;
      padding: var(--space-075) var(--space-200);
    }
    nav.mobile-nav ul li a svg {
      margin: auto;
    }
  }

  @media (max-width: 375px) {
    nav.mobile-nav ul li a {
      padding: var(--space-075) var(--space-150);
    }
  }

  @media (prefers-color-scheme: dark) {
    .mobile-nav {
      box-shadow: 0 -4px 6px 0 #00000030;
    }
  }
}
