@layer components {
  #add-new-form {
    padding: var(--space-200);
  }
  .form-row {
    display: flex;
    justify-content: space-between;
    margin: var(--space-200) 0;
  }

  @media (max-width: 768px) {
    .properties {
      max-width: 70%;
    }
  }

  .properties {
    display: flex;
    justify-content: space-between;
  }

  .properties-labels,
  .properties-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-100);
  }

  .properties-inputs {
    flex: 1;
  }

  .properties-inputs input {
    align-self: flex-end;
    width: 90%;
  }

  .properties-labels span label {
    margin-left: var(--space-100);
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
    background: transparent;
    color: var(--primary-foreground);
    border: none;
    width: 100%;
  }

  ::placeholder {
    color: var(--primary-foreground);
  }

  .textarea {
    border-top: 1px solid var(--border-color);
    margin-top: var(--space-150);
    padding-top: var(--space-150);
  }

  textarea {
    resize: none;
    border-color: transparent;
  }

  .submit-buttons {
    padding: var(--space-200) 0;
    display: flex;
    flex-direction: row;
    gap: var(--space-150);
    border-top: 1px solid var(--border-color);
    margin: 0 var(--space-200);
  }

  .submit-buttons button {
    width: auto !important;
    padding: var(--space-150) var(--space-200) !important;
  }

  @media (max-width: 768px) {
    #add-new-form {
      padding: 0;
    }
  }
}
