@layer components {
  .right-menu {
    padding: var(--space-150) var(--space-200);
    border-left: 1px solid var(--border-color);
    flex: 0 1 258px;
    margin-right: var(--space-200);
  }

  .right-menu .actions {
    padding: var(--space-100) 0;
  }

  .right-menu ul li {
    margin-bottom: var(--space-150);
  }

  .right-menu a {
    padding: var(--space-150);
    display: inline-block;
    width: 100%;
  }

  .action-button button {
    width: 100%;
    color: var(--primary-foreground) !important;
    padding: var(--space-150);
    box-shadow: none !important;
  }
  .action-button button:hover {
    border: 1px solid transparent !important;
    background-color: var(--hover-bg) !important;
  }

  .mobile-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    padding: var(--space-200);
    padding-top: 0;
  }

  .mobile-actions ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .mobile-actions ul li button {
    color: var(--primary-foreground) !important;
    padding: var(--space-050) !important;
  }

  .mobile-actions ul li:last-child button {
    color: var(--colors-blue-500) !important;
  }

  .mobile-actions ul li button#cancel,
  .mobile-actions ul li button#save:hover {
    background-color: inherit !important;
  }

  .mobile-actions ul li button:hover {
    background-color: var(--hover-bg) !important;
    color: var(--primary-foreground) !important;
  }

  .mobile-actions ul li button svg {
    font-size: large;
  }

  @media (max-width: 425px) {
    .mobile-actions {
      padding: var(--space-150) 0;
    }
    .mobile-actions ul li {
      margin: 0;
    }
  }
}
