@layer components {
  .right-menu {
    padding: var(--space-150) var(--space-200);
    border-left: 1px solid var(--border-color);
    flex-shrink: 0;
  }

  .right-menu .actions {
    padding: var(--space-100) var(--space-200);
  }

  .right-menu ul li {
    margin-top: var(--space-050);
  }

  .right-menu a {
    padding: var(--space-150);
    display: inline-block;
    width: 100%;
  }
}
