@layer base {
  @font-face {
    font-family: "Inter";
    src: url("../assets/fonts/inter/Inter-VariableFont_opsz,wght-subset.woff2")
      format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Noto-serif";
    src: url("../assets/fonts/noto-serif/NotoSerif-VariableFont_wdth,wght-subset.woff2")
      format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Source-code-pro";
    src: url("../assets/fonts/source-code-pro/SourceCodePro-VariableFont_wght-subset.woff2")
      format("woff2");
    font-display: swap;
  }

  :root {
    /* COLORS */

    /* Neutral */
    --colors-neutral-950: hsl(222, 32%, 8%);
    --colors-neutral-900: hsl(230, 19%, 12%);
    --colors-neutral-800: hsl(231, 16%, 16%);
    --colors-neutral-700: hsl(221, 16%, 20%);
    --colors-neutral-600: hsl(222, 11%, 36%);
    --colors-neutral-500: hsl(221, 8%, 48%);
    --colors-neutral-400: hsl(220, 11%, 64%);
    --colors-neutral-300: hsl(219, 15%, 82%);
    --colors-neutral-200: hsl(216, 19%, 90%);
    --colors-neutral-100: hsl(216, 26%, 96%);
    --colors-neutral-50: hsl(216, 33%, 97%);
    --colors-neutral-0: hsl(0, 0%, 100%);

    --primary-bg: var(--colors-neutral-0);
    --primary-foreground: var(--colors-neutral-800);

    /* Blue */
    --colors-blue-700: hsl(228, 70%, 48%);
    --colors-blue-500: hsl(228, 100%, 60%);
    --colors-blue-50: hsl(222, 100%, 96%);

    /* Green */
    --colors-green500: hsl(148, 71%, 44%);
    --colors-green-100: hsl(154, 84%, 90%);

    /* Red */
    --colors-red-500: hsl(355, 96%, 60%);
    --colors-red-100: hsl(356, 100%, 92%);

    /* FONT FAMILIES */
    --ff-sans: "Inter", system-ui, sans-serif;
    --ff-serif: "Noto-serif", system-ui, serif;
    --ff-mono: "Source-code-pro", monospace;

    /* FONT SIZES*/
    --fs-24: 1.5rem; /* 24 px */
    --fs-20: 1.25rem; /* 20 px */
    --fs-16: 1rem; /* 16 px */
    --fs-14: 0.875rem; /* 14 px */
    --fs-12: 0.75rem; /* 12 px */

    /* FONT WEIGHTS */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    /* LINE HEIGHTS */
    --lh-120: 120%;

    /* LETTER SPACINGS */
    --ls-05: -0.0313rem;
    --ls-03: -0.0187rem;
    --ls-02: -0.0125rem;

    /* SPACINGS */
    --space-0: 0rem; /* 0 px */
    --space-025: 0.125rem; /* 2 px */
    --space-050: 0.25rem; /* 4 px */
    --space-075: 0.375rem; /* 6 px */
    --space-100: 0.5rem; /* 8 px */
    --space-150: 0.75rem; /* 12 px */
    --space-200: 1rem; /* 16 px */
    --space-250: 1.25rem; /* 20 px */
    --space-300: 1.5rem; /* 24 px */
    --space-400: 2rem; /* 32 px */
    --space-500: 2.5rem; /* 40 px */
    --space-600: 3rem; /* 48 px */
    --space-800: 4rem; /* 64 px */
    --space-1000: 5rem; /* 80 px */

    /* RADIUSES */
    --radius-0: 0rem; /* 0 px */
    --radius-4: 0.25rem; /* 4 px */
    --radius-6: 0.375rem; /* 6 px */
    --radius-8: 0.5rem; /* 8 px */
    --radius-10: 0.625rem; /* 10 px */
    --radius-12: 0.75rem; /* 12 px */
    --radius-16: 1rem; /* 16 px */
    --radius-20: 1.25rem; /* 20 px */
    --radius-24: 1.5rem; /* 24 px */
    --radius-full: 62.4375rem; /* 999 px */

    /* BORDER COLORS */
    --border-color: var(--colors-neutral-200);

    /* SHADOWS */
    --shadow-1: 0 1px 2px 1 #0a0d1403;
    --small-shadow: 0 0.25rem 0.375rem 0 #f0f0f060;
    --large-shadow: 0 0.5rem 0.75rem 0 #f0f0f060;
  }

  :root[data-theme="light"] {
    --primary-bg: var(--colors-neutral-0);
    --primary-foreground: var(--colors-neutral-800);
    --border-color: var(--colors-neutral-200);
    --hover-bg: var(--colors-neutral-100);
    --svg-color: var(--colors-neutral-700);
    --modal-bg: var(--colors-neutral-0);
    --modal-border: var(--colors-neutral-500);
    --modal-icon-bg: var(--colors-neutral-100);
  }

  :root[data-theme="dark"] {
    --primary-bg: var(--colors-neutral-950);
    --primary-foreground: var(--colors-neutral-100);
    --border-color: var(--colors-neutral-700);
    --hover-bg: var(--colors-neutral-800);
    --svg-color: var(--colors-neutral-200);
    --modal-bg: var(--colors-neutral-800);
    --modal-border: var(--colors-neutral-200);
    --modal-icon-bg: var(--colors-neutral-600);
  }

  :root[data-font="sans-serif"] {
    --font-family-base: var(--ff-sans);
  }

  :root[data-font="serif"] {
    --font-family-base: var(--ff-serif);
  }

  :root[data-font="monospace"] {
    --font-family-base: var(--ff-mono);
  }

  html {
    font-family: var(--font-family-base);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  html {
    font-size: 1rem;
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }

  body {
    line-height: 1.5;
    font-size: 0.9375rem;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--primary-foreground);
    background-color: var(--primary-bg);
  }

  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  html,
  body,
  #root {
    height: 99vh;
    /* width: 98%; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
  }

  #content {
    display: flex;
    flex-direction: row;
    height: 95%;

    flex: 1;
  }

  footer {
    flex-shrink: 0;
  }

  img,
  picture,
  video,
  canvas {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }
}
