@layer utilities {
  /* SANS-SERIF */
  text-preset-sans-1 {
    font-family: var(--ff-sans);
    font-size: var(--fs-24);
    line-height: var(--lh-120);
    letter-spacing: var(--ls-05);
    font-weight: var(--fw-bold);
  }
  text-preset-sans-2 {
    font-family: var(--ff-sans);
    font-size: var(--fs-20);
    line-height: var(--lh-120);
    letter-spacing: var(--ls-05);
    font-weight: var(--fw-bold);
  }
  text-preset-sans-3 {
    font-family: var(--ff-sans);
    font-size: var(--fs-16);
    line-height: var(--lh-120);
    letter-spacing: var(--ls-03);
    font-weight: var(--fw-semibold);
  }
  text-preset-sans-4 {
    font-family: var(--ff-sans);
    font-size: var(--fs-14);
    line-height: var(--lh-120);
    letter-spacing: var(--ls-02);
    font-weight: var(--fw-medium);
  }
  text-preset-sans-5 {
    font-family: var(--ff-sans);
    font-size: var(--fs-14);
    line-height: var(--lh-120);
    letter-spacing: var(--ls-02);
    font-weight: var(--fw-regular);
  }
  text-preset-sans-6 {
    font-family: var(--ff-sans);
    font-size: var(--fs-12);
    line-height: var(--lh-120);
    letter-spacing: var(--ls-02);
    font-weight: var(--fw-gular);
  }

  /* SERIF */
  text-preset-serif-1 {
    font-family: var(--ff-serif);
    font-size: var(--fs-24);
    line-height: var(--lh-120);
    letter-spacing: var(--ls-05);
    font-weight: var(--fw-bold);
  }
  text-preset-serif-2 {
    font-family: var(--ff-serif);
    font-size: var(--fs-20);
    line-height: var(--lh-120);
    letter-spacing: var(--ls-05);
    font-weight: var(--fw-bold);
  }
  text-preset-serif-3 {
    font-family: var(--ff-serif);
    font-size: var(--fs-16);
    line-height: var(--lh-120);
    letter-spacing: var(--ls-03);
    font-weight: var(--fw-semibold);
  }
  text-preset-serif-4 {
    font-family: var(--ff-serif);
    font-size: var(--fs-14);
    line-height: var(--lh-120);
    letter-spacing: var(--ls-02);
    font-weight: var(--fw-medium);
  }
  text-preset-serif-5 {
    font-family: var(--ff-serif);
    font-size: var(--fs-14);
    line-height: var(--lh-120);
    letter-spacing: var(--ls-02);
    font-weight: var(--fw-regular);
  }
  text-preset-serif-6 {
    font-family: var(--ff-serif);
    font-size: var(--fs-12);
    line-height: var(--lh-120);
    letter-spacing: var(--ls-02);
    font-weight: var(--fw-gular);
  }

  /* MONOSPACE */
  text-preset-mono-1 {
    font-family: var(--ff-mono);
    font-size: var(--fs-24);
    line-height: var(--lh-120);
    letter-spacing: var(--ls-05);
    font-weight: var(--fw-bold);
  }
  text-preset-mono-2 {
    font-family: var(--ff-mono);
    font-size: var(--fs-20);
    line-height: var(--lh-120);
    letter-spacing: var(--ls-05);
    font-weight: var(--fw-bold);
  }
  text-preset-mono-3 {
    font-family: var(--ff-mono);
    font-size: var(--fs-16);
    line-height: var(--lh-120);
    letter-spacing: var(--ls-03);
    font-weight: var(--fw-semibold);
  }
  text-preset-mono-4 {
    font-family: var(--ff-mono);
    font-size: var(--fs-14);
    line-height: var(--lh-120);
    letter-spacing: var(--ls-02);
    font-weight: var(--fw-medium);
  }
  text-preset-mono-5 {
    font-family: var(--ff-mono);
    font-size: var(--fs-14);
    line-height: var(--lh-120);
    letter-spacing: var(--ls-02);
    font-weight: var(--fw-regular);
  }
  text-preset-mono-6 {
    font-family: var(--ff-mono);
    font-size: var(--fs-12);
    line-height: var(--lh-120);
    letter-spacing: var(--ls-02);
    font-weight: var(--fw-gular);
  }
}
